.offcanvas-header {
    margin-top: 100%
}
.offcanvas-body, .offcanvas-header, .btn-close {
    text-align: right;
    justify-content: right;
    align-items: right;
}
a {
    margin: 0 2% 0 2%
}
body, .offcanvas {
    background-color: #FFE4C4
}
hr {
    color: black
}