.offcanvas-header {
    margin-top: 100%
}
.offcanvas-body, .offcanvas-header, .btn-close {
    text-align: right;
    justify-content: right;
    align-items: right;
}
a {
    margin: 0 2% 0 2%
}
.bg-note {
    --bs-bg-opacity: 1;
    background-color: #FFFA5C;
}
.btn-primary {
    --bs-btn-color: #000;
    --bs-btn-bg: #ffbc00ab;
    --bs-btn-border-color: #ffc107;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #ffa500;
    --bs-btn-hover-border-color: #ffc107;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #ff9900;
    --bs-btn-active-border-color: #ffbf00;
}
.btn-outline-primary {
    --bs-btn-color: #000;
    --bs-btn-border-color: #ffc107;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #ffa500;
    --bs-btn-hover-border-color: #ffc107;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #ff9900;
    --bs-btn-active-border-color: #ffbf00;
}