
{% extends 'base.html' %}
{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis mt-5 pt-4">
        Task Maestro</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">A Todo list website.</p>
        <hr>
        {% if not logged.is_authenticated: %}
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a class="btn btn-secondary btn-lg px-4 gap-3" href="/login">Login</a>
            <a class="btn btn-outline-secondary btn-lg px-4" href="/register">Sign-Up</a>
        </div>
    </div>
    {% else %}
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a class="btn btn-primary btn-lg px-4 gap-3" href="/add">Add Tasks</a>
        <a class="btn btn-outline-primary btn-lg px-4" href="/view">View Tasks</a>
    </div>
    {% endif %}
    {% endblock %}
</div>