{% extends 'base.html' %}
{% from 'bootstrap5/table.html' import render_table %}
{% block content %}
<div class="container p-5">
    <div class="p-5">
        {% for task in tasks %}

        <div class="container row">
            <li>
                <ul style="list-style-type:none, padding:0">
                    <button class="btn btn-primary"><i class="bi bi-square"></i></button>
                    {{ task.tasks }}
                </ul>
            </li>
        </div>
        {% endfor %}
        {% for task in dis_tasks %}
        {{ task }}
        {% endfor %}
    </div>
</div>
{% endblock %}