{% extends 'base.html' %}
{% from 'bootstrap5/table.html' import render_table %}
{% block content %}
<div class="container p-5">
    <div class="p-5">
        <div class="container">
            <ol>
                {% for task in tasks %}
                <div class="row mx-5">
                    <div class="col-10">
                        <li>
                            {{ task.tasks }}
                        </li>
                    </div>
                    <div class="col-2">
                        <a class="btn" href="{{ url_for('delete', task_id=task.id) }}" style="margin-left"><i
                                class="bi bi-trash-fill"></i></a>
                    </div>
                </div>
                <hr>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>
{% endblock %}